{% load static %}
<html>
    <head>
        <title>3SB04 YEET</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		</head>
	<body>
		<div class="page-header">
        	<a href="/"><h1>YYYYEEEEEEEETTTT</h1></a>
		</div>
		<a class="btn btn-primary" href="{% url 'post_new' %}">New Post</a>
		<div>
		{% block contents %}
		{% endblock %}
		</div>
    </body>
</html>
