{% extends 'yeet/base.html' %}

{% block contents %}
	{% for post in posts %}
	<div class="post border rounded">
		<a class="posttitle" href="{% url 'post_detail' pk=post.pk %}">
			{{ post.title }}
		</a>
		<p> 
			<span class="postauthor">{{ post.author }}</span>
			Posted: {{ post.post_date }}, 
			<a href="{% url 'post_detail' pk=post.pk %}">
				ID: {{ post.pk }}
			</a>
			{% if post.replies.count %}
				, {{ post.replies.count }} Replies.
			{% endif %}
		</p>
		<p> {{ post.text|linebreaksbr }} </p>
	</div>
	{% endfor %}
{% endblock %}
