{% extends 'yeet/base.html' %}

{% block contents %}
<div class="post ">
	<h3><span class="posttitle"> {{ post.title }} </span></h3>
	<p>
		<span class="postauthor">{{post.author}}</span>
		Posted: {{ post.post_date }} ID:{{ post.pk }}
	</p>
	<p> {{ post.text|linebreaksbr }} </p>
	<div>
		<a href="{% url 'add_reply' pk=post.pk %}">Add Reply</a>
	</div>
	{% for rep in post.replies.all %}
		<div>
			<div class="replies border rounded">
				<p class="postauthor">{{ rep.author }}</p>
				<p> Posted: {{ rep.post_date }} ID:{{ post.pk }}+{{ rep.pk }}</p>
				<p> {{ rep.text|linebreaksbr }} </p>
			</div>
		</div>
	{% empty %}
	No Replies.
	{% endfor %}
</div>
{% endblock %}
