{% extends 'yeet/base.html' %}

{% block contents %}
<div>
	<h2>New Post</h2>
	<form method="POST" class="post-form">{% csrf_token %}
		{{ form.as_p }}
		<button class="save btn btn-success" type="submit">Post</button>
	</form>
</div>
{% endblock %}
