body {
	padding: 20pt;
}

.page-header {
	padding: 0px 20px 20px 0px;
}

.post {
	margin: 12px 0px;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.posttitle {
	color: darkorchid;
	font-size: 20px;
}

.postauthor {
	color: green;
}